
global
    log stdout format raw local0
    maxconn 2048

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 10s
    timeout client 1m
    timeout server 1m

frontend ldap_in
    bind 0.0.0.0:389
    default_backend ldaps_out

backend ldaps_out
    server ldapserver ldapserver:636 ssl verify required ca-file /etc/haproxy/certs/ldap-ca.pem crt /etc/haproxy/certs/ldap-client.pem

